body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teamScrollContainer::-webkit-scrollbar {
  display: none;
}

.gradient-background {
  background: linear-gradient(
    300deg,
    rgb(165, 166, 246, 1),
    rgba(151, 71, 255, 1),
    #a459c9,
    aqua
  );
  background-size: 300% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-image {
  transition: transform 0.3s ease-in-out;
}

.hover-image:hover {
  transform: scale(1.1);
}

.navItem {
  transition: 0.3s ease-in-out;
}
.navItem-active {
  background-color: rgba(51, 51, 51, 0.25);
  transition: 0.3s ease-in-out;
}
.navItem-active:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.navItem:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.sliding {
  position: absolute;
  right: -400px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  transition: right 1s;
}

.sliding.active {
  right: 0px;
}
